<div class="container" *ngIf="loggedInFlag=='true'">
    <div class="row">
        <div class="col-sm-3" *ngFor="let course of courses">
            <a href="#" class="card">
                <img class="card-img-top img-fluid" src="{{img_source}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{course}}</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container" *ngIf="loggedInFlag=='false'">
    <h1>Please Login!</h1>
</div>