<div class="container" *ngIf="loggedInFlag">
    <div class="row">
        <div class="col-sm-3" *ngFor="let course of courses">
            <a routerLink="/courses/{{course.courseName}}" class="card">
                <img class="card-img-top img-fluid" src="{{img_source}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{course.courseName}}</h4>
                    <p class="card-text">{{course.description}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated at {{course.lastModified}} </small>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container" *ngIf="!loggedInFlag">
    <h1>Please Login!</h1>
</div>