<div class="container" *ngIf="loggedInFlag">
    <div class="title">
        <h3 class="font-weight-bold">{{courseDetails.courseName}}</h3>
        <button class="btn btn-info ml-auto" data-toggle="modal" data-target="#editModal">Edit</button>
        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
    </div>

    <img src="{{img_source}}" class="img-fluid" alt="Course title">
    <p class="description">{{courseDetails.description}}</p>
    
    <div>
        <span class="font-weight-bold">Pre-requesite: </span>
        <span *ngFor="let prerequesite of courseDetails.preRequisite.split(',')">
            <span class="badge badge-secondary">{{prerequesite}}</span>
        </span>
    </div>
    
    <div>
        <span class="font-weight-bold">Course Instructor: </span>
        <span>{{courseDetails.instructorName}}</span>
    </div>

    <div>
        <span class="font-weight-bold">Last Updated: </span>
        <span>{{courseDetails.lastModified}}</span>
    </div>

    <div>
        <span class="font-weight-bold">Feedbacks: </span>
        <ol>
            <li>
                <span>Anonymous: </span>
                <span class="font-weight-light comments" style="text-indent: -5em;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
            </li>
            <li>
                <span>Anonymous: </span>
                <span class="font-weight-light comments">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
            </li>
            <li>
                <span>Anonymous: </span>
                <span class="font-weight-light comments">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
            </li>
        </ol>
    </div>

    <div>
        <span class="font-weight-bold">Course Materials</span>
        <span>
          <button class="btn btn-primary" id="createButton" (click)="createtTrainingMaterial()">Create</button>
        </span>
        <table class="table table-dark" *ngFor="let material of trainingMaterials">
            <thead>
              <tr>
                <!-- <th scope="col"></th> -->
                <th scope="col">Link: <a href="{{material.link}}">{{material.link}}</a></th>
                <th scope="col">
                    <button class="btn btn-info" id="materialEdit" (click)="editTrainingMaterial(material)">Edit</button> 
                </th>
                <th scope="col">
                  <button class="btn btn-danger" id="materialDelete" (click)="deleteTrainingMaterial(material)">Delete</button>
                </th>
              </tr>
            </thead>
          </table>
    </div>
</div>

<div class="container" *ngIf="!loggedInFlag">
    <h1>Please Login!</h1>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Java Course</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure that you want to delete Java Course?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" (click)="deleteCourse()" data-dismiss="modal" aria-label="Close">Confirm</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit Java Course</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
              <div class="form-group">
                <label for="description" name="description">Description</label>
                <textarea id="description" class="form-control" rows="5" cols="10" [(ngModel)]="course.description" name="description"></textarea>
              </div>
              
              <div class="form-group">
                <label for="description">Pre-requesite (comma separated)</label>
                <input type="text" class="form-control" [(ngModel)]="course.preRequisite" name="prerequesite">
              </div>

              <div class="form-group">
                <label for="description">Instructor Name</label>
                <input type="text" class="form-control" [(ngModel)]="course.instructorName" name="instructorName">
              </div>
              
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" (click)="editCourse()" data-dismiss="modal" aria-label="Close">Confirm</button>
        </div>
      </div>
    </div>
</div>