<div class="container" *ngIf="loggedInFlag">
    <div class="title">
        <h3 class="font-weight-bold">{{courseDetails.courseName}}</h3>
        <button class="btn btn-info ml-auto" data-toggle="modal" data-target="#editModal">Edit</button>
        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
    </div>

    <img src="{{img_source}}" class="img-fluid" alt="Course title">
    <p class="description">{{courseDetails.description}}</p>
    
    <div>
        <span class="font-weight-bold">Pre-requesite: </span>
        <span *ngFor="let prerequesite of courseDetails.preRequisite">
            <span class="badge badge-secondary">{{prerequesite}}</span>
        </span>
    </div>
    
    <div>
        <span class="font-weight-bold">Course Instructor: </span>
        <span>{{courseDetails.instructorName}}</span>
    </div>

    <div>
        <span class="font-weight-bold">Last Updated: </span>
        <span>{{courseDetails.lastModified}}</span>
    </div>

    <div>
        <span class="font-weight-bold">Feedbacks: </span>
        <ol>
            <li>
                <span>Anonymous: </span>
                <span class="font-weight-light comments" style="text-indent: -5em;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
            </li>
            <li>
                <span>Anonymous: </span>
                <span class="font-weight-light comments">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
            </li>
            <li>
                <span>Anonymous: </span>
                <span class="font-weight-light comments">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
            </li>
        </ol>
    </div>

    <div>
        <span class="font-weight-bold">Course Materials</span>
        <span>
          <button class="btn btn-primary" id="createButton" (click)="createtTrainingMaterial()">Create</button>
        </span>
        <table class="table table-dark" *ngFor="let material of trainingMaterials">
            <thead>
              <tr>
                <th scope="col" id="link">Link: <a href="{{material.link}}">{{material.link}}</a></th>
                <th scope="col">
                  <button id="historyButton" class="btn btn-light customButton" (click)="viewHistory(material)" data-toggle="modal" data-target="#versionModals">View History</button> 
                </th>
                <th scope="col">
                    <button id="editButton" class="btn btn-info customButton" (click)="editTrainingMaterial(material)">Edit</button> 
                </th>
                <th scope="col">
                  <button id="deleteButton" class="btn btn-danger customButton" (click)="deleteTrainingMaterial(material)">Delete</button>
                </th>
              </tr>
            </thead>
          </table>
    </div>

    <div>
      <span class="font-weight-bold">Participants</span>
      <div class="table-responsive">
        <table class="table-bordered">
          <thead>
            <th>Name</th>
            <th>Email</th>
          </thead>
          <tbody *ngFor="let participant of participants">
            <td>{{participant.participantName}}</td>
            <td><a href="mailto:{{participant.email}}">{{participant.email}}</a></td>
          </tbody>
        </table>
      </div>
    </div>
</div>

<div class="container" *ngIf="!loggedInFlag">
    <h1>Please Login!</h1>
</div>

<div class="modal fade" id="versionModals" tabindex="-1" role="dialog" aria-labelledby="versionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="versionModalLabel">Training Material Version</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let version of materialHistory">
          <table class="table table-light">
            <thead  style="max-width: 10%;">
              <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Link</th>
                <th scope="col">Date</th>
              </tr>
              <tr>
                <td>{{version.courseName}}</td>
                <td><a href="{{version.link}}">Click Here</a></td>
                <td>{{version.date}}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="deleteCourse()" data-dismiss="modal" aria-label="Close">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 50%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete {{this.course.courseName}} Course</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure that you want to delete {{this.course.courseName}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" (click)="deleteCourse()" data-dismiss="modal" aria-label="Close">Confirm</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit {{this.course.courseName}} Course</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
              <div class="form-group">
                <label for="description" name="description">Description</label>
                <textarea id="description" class="form-control" rows="5" cols="10" [(ngModel)]="course.description" name="description"></textarea>
              </div>
              
              <div class="form-group">
                <label for="description">Pre-requesite (comma separated)</label>
                <input type="text" class="form-control" [(ngModel)]="course.preRequisite" name="prerequesite">
              </div>

              <div class="form-group">
                <label for="description">Instructor Name</label>
                <input type="text" class="form-control" [(ngModel)]="course.instructorName" name="instructorName">
              </div>
              
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" (click)="editCourse()" data-dismiss="modal" aria-label="Close">Confirm</button>
        </div>
      </div>
    </div>
</div>